<svelte:head>
	<title>Leaflet</title>

 	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   		integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
		   crossorigin=""/>
</svelte:head>
<script>
	import { onMount } from 'svelte'

	onMount( async ()=>{ 
		await import( 'leaflet' );
		await import('leaflet.vectorgrid');

		const mapOptions = {
     		center: [18.1155, -77.2760],
     		zoom: 10 
		}

		const mymap = new L.map('mapid', mapOptions);

		const lines = {
  			URI: 'http://gingham.auchindown.com:4003/xmission.lines/{z}/{x}/{y}.pbf',
  			options: {
    		minZoom: 6,
    		maxZoom: 20,
    		rendererFactory: L.canvas.tile,
    		interactive: false
  			}
		};

	    const structures = {
  			"URI": "http://gingham.auchindown.com:4003/xmission.structures/{z}/{x}/{y}.pbf",
			"options": {
			    minZoom: 6,
			    maxZoom: 20,
			    rendererFactory: L.canvas.tile,
			    interactive: false,
			    vectorTileLayerStyles: {
			    	"xmission.structures": {
        				radius: 3,
			        	fillColor: '#4EE32B',
			        	fillOpacity: 1,
        				fill: true,
				        stroke: true,
				        color: '#4EE32B',
				        opacity: 1
      				}
			    }
			}
		}

		L.tileLayer(
			'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png?{foo}', 
			{
				foo: 'bar', 
				attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>'
			}
		).addTo(mymap);

		structures.layer = L.vectorGrid.protobuf(structures.URI, structures.options);
		lines.layer = L.vectorGrid.protobuf(lines.URI, lines.options);

		mymap.addLayer(structures.layer);
		mymap.addLayer(lines.layer);
	});
</script>
<div id=mapid></div>
<style>
	#mapid {
		height:80vh;
	}
</style>
